.main-info{
    background-color: #2c2c2e;
    width: 24em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2em;
    padding-bottom: 2em;
    border-width: 0.2em;
    border: solid 1d1d1f;
}
.error-message{
    color: #ee3d3d;
}
.success-message{
    color: #92cea0;; 
}
.acc-field{
    font-size: large;
    background-color: #535054; 
    border-color: #4B484C;
    color: #C6C9CD;
}
.submit-button{
    font-size: large;
    text-align: center;
    padding-left: 3.1em;
    padding-right: 3.1em;
    position: relative;
    left: 0.3em;
    border-radius: 1.2em;
    background-color: #535054; 
    border-color: #4B484C;
    color: #C6C9CD;
}
#login-button{
    object-position: 50% 50%;
    width: 13em;
}
.submit-button:hover{
    background-color: #807387; 
    border-color: #4B484C;
    color: #C6C9CD;
}
form{
    display: inline-block;
    text-align: left;
}
.login-form{
    font-size: large;
    color: #C6C9CD;
}
.login{
    display: block;
    text-align: center;
}

