package templates

templ ErrorMessage(message string) {
    <div class="error-message">
        { message }
    </div>
}

templ SuccessMessage(message string) {
    <div class="success-message">
        { message }
    </div>
}
