package templates

import(
    "shrimple/src/shared"
    "strconv"
)

// this line shows as a syntax error in my lsp but it actually runs fine :3 wow i love lsps
type User = shared.User

templ UserInfo(user *User) {
    <h3> {user.Username} </h3>
    <p> {strconv.FormatInt(user.Id, 10)} </p>
}
