#main-flex{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
}
#sidebar-flex{
    width: 20%;
}
#settings-flex {
    width: 70%;
}

.soft-links{
   text-decoration: none;
   display: block;
   color: #B2ADBC;
}

#fullscreen {
    width: 100%;
}
