.form-control {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em; 
    padding-bottom: 0.3em;
    background-color: #535054; 
    border-color: #4B484C;
    color: #C6C9CD;
    width: 23em;
    font-size: large; 
    font-family: "Mooli", sans-serif;
}
#player-input {
    display: block;
    text-align: center;
}
#player-guess {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#input-submit{
    font-family: "Mooli", sans-serif;
    background-color: #92cea0; 
    border-color: #92cea0;
    position: relative;
    left: 15em;
    bottom: 1.7em;
    font-size: large;
    border-radius: 0.25em;
}
#input-submit:hover{
    background-color: #aedfba;
    border-color: #aedfba;
}
#input-submit:disabled{
    background-color: #b5b5b5;
    border-color: #b5b5b5;
}
ul {
    list-style-type: none;
}
li {
    background-color: #515052;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
li:hover{
    background-color: #676668;
}
#autofill-results {
    cursor: pointer;
    text-align: left;
    bottom: 2.2em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 24em;
    font-size: large;
    right: 1.05em;
}
.shrimp-info{
    text-align: center;
    font-size: small;
    color: #acacaf;
}
mark {
    background-color: transparent;
    color: #FF7A7A;
}
