#start-multiplayer{
    text-align: center;
    font-family: "Mooli", sans-serif;
    font-size: large;
    border-radius: 25%;  
    background-color: #535054;
    border-color: #535054; 
    color: #C6C9CD;
}
#start-multiplayer:hover{
    background-color: #79757a;
    border-color: #79757a;
}
.form-control {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: #535054;
    border-color: #4B484C;
    color: #C6C9CD;
    width: 16em;
    font-size: large;
    font-family: "Mooli", sans-serif;
}

#player-input {
    display: block;
    text-align: center;
}

#player-guess {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#input-submit {
    font-family: "Mooli", sans-serif;
    background-color: #92cea0;
    border-color: #92cea0;
    position: relative;
    left: 11em;
    bottom: 1.7em;
    font-size: large;
    border-radius: 0.25em;
}

#input-submit:hover {
    background-color: #aedfba;
    border-color: #aedfba;
}

#input-submit:disabled {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
}

ul {
    list-style-type: none;
}

li {
    background-color: #515052;
    opacity: 0.9;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

li:hover {
    background-color: #676668;
}

#autofill-results {
    cursor: pointer;
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    font-size: large;
    right: 1.05em;
}
.translate-up-slightly{
    bottom: 3.2em;
}
.translate-up-endless {
    bottom: 8.5em;
}
.translate-up-multiplayer {
    bottom: 6.2em;
}
.shrimp-info {
    text-align: center;
    font-size: small;
    color: #acacaf;
}

#guesses {
    margin-left: auto;
    margin-right: auto;
    width: 36em;
}

.tooltip .tooltip_text {
    visibility: hidden;
    width: 10em;
    text-align: center;
    color: #C6C9CD;
    background-color: #515052;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 6px;
    padding: 15px;
    z-index: 1;
    position: absolute;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 5em;
    max-width: 5em;
    margin-top: auto;
    margin-bottom: auto;
}

.close-button {
    border-radius: 25%;
    background-color: #fc5a52; border-color: #fc5a52;
    float: right;
}

.close-button:hover {
    background-color: #fc766f;
    border-color: #fc766f;
}

#results-open {
    position: relative;
    top: 2em;
}


#final-results {
    width: 36em;
    z-index: 2;
    position: absolute;
    border-color: #676668;
    background-color: #3b3a3b;
    color: #C6C9CD;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em;
    transition: opacity 0.3s;
}

#clipboard-message {
    width: 16em;
    background-color: #242324;
    z-index: 3;
    transition: all 0.4s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 0.3em;
}

mark {
    background-color: transparent;
    color: #FF7A7A;
}

strong {
    font-size: 110%;
}
