body {
    text-align: center;
    /*background-color:#2F2E30;*/ 
    background-color: #393a3f;
    color: #C6C9CD;
    font-family: "Mooli", sans-serif;
}
.new-link:link{
    color:#997994;
}
.new-link:visited{
    color:#997994;
}
.new-link:hover{
    color:#997f95;
}
.new-link:active{
    color:#997f95;
}
