#main-flex{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0;

}
#max-timer{
    background-color: #515052;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 1em;
    width: 18em;
    z-index: -1;
}
#current-timer{
    background-color: #93b675;
    height: 2em;
}
.other-row{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0;
}
.other-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 2.5em;
    max-width: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
}
#display-name-input-div{
    background-color: #38383b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    z-index: 3;
}
#main-player{
    width: 40%;
    order: 2;
}
#other-players{
    width: 25%;
    order: 1;
}
.other-player{
    background-color: #383439;
    min-height: 15em;
    border: 1em transparent;
}
#chat{
    order: 3;
    text-align: left;
    width: 20%;
    background-color: #2e2f33;
    min-height: 10em;
    padding-left: 0.5em;
}
#chat-form{
    width: 80%;
}
.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 100%;
    flex: 1;
}
