#max-timer{
    background-color: #515052;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1em;
}
#current-timer{
    background-color: #93b675;
    height: 2em;
}
.other-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0;
}
.other-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 2.5em;
    max-width: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
}
