body {
    text-align: center;
    background-color:#2F2E30;
    color: #C6C9CD;
    font-family: "Mooli", sans-serif;
}
.form-control {
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #535054; 
    border-color: #4B484C;
    color: #C6C9CD;
    width: 23em;
    font-size: large; 
    font-family: "Mooli", sans-serif;
}
#player-input {
    display: block;
    text-align: center;
}
#player-guess {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
ul {
    list-style-type: none;
    right: 1em;
}
li {
    background-color: #515052;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
#autofill-results {
    text-align: left;
    bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 24em;
    font-size: large;
}
mark {
    background-color: transparent;
    color: #FF7A7A;
}
